@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: "VOLACROME";
  src: url("/fonts/VOLACROME.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes reveal-image {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}

.animate-fade-in-up {
  animation: fade-in-up 1s ease-out forwards;
}

.animate-reveal-image {
  animation: reveal-image 1.5s cubic-bezier(0.77, 0, 0.175, 1) forwards;
  animation-delay: 0.2s;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

.animate-bounce {
  animation: bounce 2s infinite;
}

@media (min-width: 850px) and (max-width: 960px) and (min-height: 400px) and (max-height: 460px) {
  .west-special h1,
  .east-special h1 {
    font-size: 4rem !important; /* ~text-6xl (md size) */
  }

  .west-special .residence,
  .east-special .residence {
    font-size: 1.3rem !important; /* smaller subtitle */
  }

  .west-special .desc,
  .east-special .desc {
    font-size: 0.9rem !important; /* smaller paragraph */
    max-width: 80% !important;
  }

  .west-special .button {
    font-size: 0.9rem !important; /* smaller paragraph */
    max-width: 80% !important;
  }

  .west-special,
  .east-special {
    padding-top: 2rem !important;
  }
}
